[submodule "display_emotions"]
	path = display_emotions
	url = https://github.com/UtBotsAtHome-UTFPR/display_emotions.git
[submodule "whisper_cpp_ros"]
	path = whisper_cpp_ros
	url = https://github.com/UtBotsAtHome-UTFPR/whisper_cpp_ros.git
