[submodule "utbots_nlu"]
	path = utbots_nlu
	url = https://github.com/UtBotsAtHome-UTFPR/utbots_nlu.git
[submodule "display_emotions"]
	path = display_emotions
	url = https://github.com/UtBotsAtHome-UTFPR/display_emotions
